$base-color: #53bf55;
$fontSize:1.5rem;
#search {
	.nav_search {
		display: flex;
		.search_action {
			flex: 8;
			width: 92%;
			margin: {
				left: 3%;
				top: 1rem;
			};
			input {
				width: 100%;
				background: #f3f3f3;
				height: 2rem;
				border: {
					radius: .3rem;
				};
				font: {
					weight: 300;
				};
			}
			input::-webkit-input-laceholder {
					position: relative;;
					left: 1rem;
			}
		}
		.search_btn {
			flex: 2;
			line-height: 3.8rem;
			margin: {
				left: 1rem;
			}
		}
	}
		.main {
      display: flex;
      text-align: center;
      margin: {
        top: 2rem;
      };
      .main_list {
        flex: 1;
        .main_desc {
          font: {
            size: .8rem;
          };
          color: #999;
          letter-spacing: 1px;
          margin: {
            top: .5rem;
          };
        }
        .movie {
          font-size: $fontSize;
          color: #2384E8;
        }
        .television {
          font-size: $fontSize;
          color: #7A6ADB;
        }
        .book {
          font-size: $fontSize;
          color: #9F7860;
        }
        .city {
          font-size: $fontSize;
          color: #E6467E;
        }
        .group {
          font-size: $fontSize;
          color: #2AB8CC;
        }
        .music {
          font-size: $fontSize;
          color: #F48F2E;
        }
        .read {
          font-size: $fontSize;
          color: #9F7860;
        }
        .game {
          font-size: $fontSize;
          color: #9F7860;
        }
        .application {
          font-size: $fontSize;
          color: #5774C5
        }
        .thing {
          font-size: $fontSize;
          color: #E1644D
        }
        .fm {
          font-size: $fontSize;
          color: #40CFA9
        }
        .market {
          font-size: $fontSize;
          color: #42BA45
        }
      }
  	}
    .search_list {
      display: flex;
      width: 94%;
      margin: {
        left: 3%;
        top: .7rem;
      }
    ;
      padding: {
        bottom: .7rem;
      }
    ;

      border: {
        bottom: 1px solid #dedede;
      }
    ;
      .search_img {

      }
      .search_desc {
        margin: {
          left: 4%;
          top: .3rem;
        }
      ;
        .search_name {
          font: {
            size: 1.1rem;
          }
        ;
        }
        .star {
          margin: {
            top: 1rem;
          }
        ;
          div {
            img {
              width: .7rem;
            }
          }
          .rating {
            color: #9b9b9b;
            font-size: .8rem;
            position: relative;
            left: .1rem;
            top: .2rem;
          }
        }
      }
    }
}