#self {
	.nav {
		display: flex;
		height: 9rem;
		background: -webkit-linear-gradient(-40deg, #8094e4 170px, #798ee1 80px);
		.nav_header {
			flex: 1;
			text-align: center;
			div {
				line-height: 12.5rem;
				img {
					width: 5rem;
					height: 5rem;
					border: {
						radius: 50%;
					};
					border: 2px solid #fff;
				}
			}
		}
		.nav_info {
        color: #fff;
        flex: 2;
        .nav_info_name {
          margin: {
            top: 2.2rem;
          }
          font: {
            size: 1.4rem;
            weight: 300;
          }
        }
        .nav_info_id {
          margin: {
            top: .5rem;
          }
          font:{
            size: .8rem;
            weight: 300;
          };
        }
        .line {
          border: {
            top: 1px solid rgba(250, 250, 250, .2);
          }
          margin: {
            top: .5rem;
          }
        }
        .nav_info_focus {
          font: {
            weight: 400;
          }
          margin: {
            top: 1rem;
          }
          .focus_d {
            position: relative;
            left: 2rem;
          }
        }
    }
	}
  .main {
      .main_menu {
        display: flex;
        text-align: center;
        background: #fff;
        margin: {
          top:.1rem;
        };
        padding: {
          top:1rem;
          bottom: 1rem;
        };
        .logo {
          img {
            width: 1.6rem;
            height: 1.6rem;
          }
        }
        .desc{
          margin: {
            top:.5rem;
          };
          color: #5d5d5d;
          font: {
            weight: 400;
            size: .8rem;
          };
        }
        div {
          flex: 1;
        }
      }
    }
  
}